select.custom-select {
  display: block;
  margin: 0 auto;
  width: 200px;

}

select.anotherselect{
  display: inline-block;
  margin: auto;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  text-align: center;
  padding: auto;
}

img.firstimage {
  width: 300px; 
  height: 100px;
  display: block; 
  margin: 0 auto; 
  margin-top: 20px;
  
}

img.custom-image {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto; 
}

img.custom-image2{
  width: 300px;
  height: auto;
  display: block;
  margin: 0 auto; 
}

img.custom-image3{
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto; 
}

img.custom-image4{
  width: 250px;
  height: auto;
  display: block;
  margin: 0 auto; 
}



p{
  text-align: center;
  font-size: 24px;

}

.container {
  margin-top: 10px;
  position: relative;
  width: 300px; /* Set the width of the container as needed */
}

.custom-image {
  max-width: 100%;
}

.custom-heading {
  position: absolute;
    width: 100%; /* Make the heading span the entire width of the container */
  text-align: center; /* Center the text horizontally within the container */
  margin-top: 10px;
}

